@page "/"
@inherits LayoutComponentBase
@using DeviceToggler.Lib
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<div class="page darkMode">
    <input class="form-control" @bind="tempGroupName" />
    <button class="btn btn-secondary form-control" @onclick='() => CreateGroup()'>Group</button>
    <button class="btn btn-secondary form-control" @onclick='() => Refresh()'>Refresh</button>
    <div>
    @foreach (var device in devices.Select(x => x.Value).OrderBy(x => x.Name).ToList())
    {
        <div class="device-block"><input type="checkbox" checked=@tempDeviceGroup.Contains(device)
            @onchange="() => ToggleInTempList(device)" /><button class="btn btn-primary form-control"
            @onclick='() => Toggle(device)'>@device.Name - @device.Enabled</button>    
        <hr/>
        </div>
    }
    </div>
    <hr />
    <div>
    @foreach (var deviceGroup in deviceGroups)
    { 
        <div><button class="btn btn-primary"
            @onclick='() => ToggleGroup(deviceGroup.Key)'>@deviceGroup.Key @deviceGroup.Value.All(x =>
            x.Enabled)</button><br/>
            @foreach (var device in deviceGroup.Value)
            {
                @device.Name<br />
            }
        <hr/>
        </div>
    }
    </div>
</div>

@code {

    private List<Device> tempDeviceGroup = new List<Device> { };
    private string tempGroupName = "";
    private Dictionary<string, List<Device>> deviceGroups = new Dictionary<string, List<Device>> { };
    
    private Dictionary<string, Device> devices;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        var savedGroups = await localStorage.GetItemAsync<Dictionary<string, List<string>>>("deviceGroups");
        if(savedGroups == null) 
            return;
        foreach (var savedGroup in savedGroups)
        {
            deviceGroups.TryAdd(savedGroup.Key, savedGroup.Value.Select(x => devices[x]).ToList());
        }
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        Refresh();
    }

    private void Refresh()
    {
        devices = DeviceTogglerCore.GetUSBDevices();
        StateHasChanged();
    }

    private void Toggle(Device device)
    {
        device.Toggle();
        StateHasChanged();
    }

    private async void CreateGroup()
    {
        deviceGroups[tempGroupName] = tempDeviceGroup.ToList();
        tempDeviceGroup = new List<Device> { };
        await localStorage.SetItemAsync("deviceGroups", deviceGroups.Select(x => x).ToDictionary(x => x.Key, x => x.Value.Select(x => x.ID).ToList()));
    }

    private void ToggleGroup(string id)
    {
        foreach (var device in deviceGroups[id])
        {
            Toggle(device);
        }
    }

    private void ToggleInTempList(Device device)
    {
        if(tempDeviceGroup.Contains(device))
            tempDeviceGroup.Remove(device);
        else
            tempDeviceGroup.Add(device);
    }
}
